
body {
  background-color: #05123d !important;
}
h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
	font-weight: lighter;
}

.title1 {
	font-family: 'Montserrat', sans-serif;
	margin-left: 30px;
	margin-top: 50px;
	font-weight: lighter;
	color: white;
}

* {
  box-sizing: border-box;
}

/* to align the branches photos in same line */
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
  margin-top: 20px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table; 
}

/* to create the text formats on the branches images */
.content {
  position: relative;
  bottom: 83px;
  background-color: #000; /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black opacity */
  width: 100%;
  padding: 0.8px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: #ffba08;
  font-style: italic;
  text-align: center;
  line-height: 0.8;
}

/* visited link */
.content a:visited {
  color: #ffba08;
}

/* mouse over link */
.content a:hover {
  color: #fff;
}
