

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
	font-weight: lighter;
}

* {
  box-sizing: border-box;
}

/* to align the emoji and text block in 1st same line */
.column4 {
  float: left;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
}

/* Clearfix (clear floats) */
.row4::after {
  content: "";
  clear: both;
  display: table; 
}

.content4 {
	color: white;
	font-size: 20px;
	font-family: 'courier new';
	text-align: justify;
	margin-right: 80px;
}

/* to align the emoji and text block in 2nd same line */
.column5 {
  float: left;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
}

/* Clearfix (clear floats) */
.row5::after {
  content: "";
  clear: both;
  display: table; 
}

.content5 {
	color: white;
	font-size: 20px;
	font-family: 'courier new';
	text-align: justify;
	margin-left: 80px;
}

/* to align the emoji and text block in 3rd same line */
.column6 {
  float: left;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
}

/* Clearfix (clear floats) */
.row6::after {
  content: "";
  clear: both;
  display: table; 
}

.content6 {
	color: white;
	font-size: 20px;
	font-family: 'courier new';
	text-align: justify;
	margin-right: 80px;
}